{% extends "base.html" %}

{% load icons %}

{% block content %}

    <style>
        .md-inherit {
            font-size: inherit;
        }
    </style>

    <p>
        {% icon 'user' %}
        The `user` icon from FontAwesome
    </p>

    <p>
        {% icon 'delete' size='lg' %}
        The `trash` icon from FontAwesome in a larger size, connected to the `delete` name in `settings.py`.
    </p>

    <p>
        {% icon 'star' renderer='Bootstrap3Renderer' %}
        The `star` icon from Bootstrap3, with the renderer explicitly set
    </p>

    <p>
        {% icon 'face' 'md-inherit' renderer='MaterialRenderer' %}
        The `face` icon from Material, with the renderer explicitly set and an extra class to set the size
    </p>

    <p>
        {% icon 'icons8-icons8-48' renderer='ImageRenderer' %}
        The `icons8` icon from Icons8, with the renderer explicitly set
    </p>

    <p>
        {% icon 'paperplane' %}
        A `paperplane` icon that is included in the source as SVG
    </p>

    <p>
        {% icon 'feather' 'svg-icon-o' %}
        A `feather` icon that is included in the source as SVG, with an extra class to render the outline
    </p>


{% endblock %}